table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color:#fff;
}
table th {
    background-color: black;
    color: white;
}
.delete{
    width: calc(100% - 60px) !important;
    /*height: 80% !important;*/
    border-radius: 30px !important;
    text-transform:uppercase;
    background: crimson;
    font-size: 14pt !important;
    margin-left: 10px;
    /* border: 1px solid #000 !important; */
}
.submit {
    border-radius: 30px !important;
    background-color: #ed9c55;
    font-size: 14pt !important;
    width: 100%;
    margin-bottom: 15px;
}

.mat-raised-button {

}