table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color:#fff;
}
table th {
    background-color: black;
    color: white;
}
button {
    width: calc(100% - 60px) !important;
    border-radius: 30px !important;
    text-transform:uppercase;
    background: #fea142 !important;
    font-size: 14pt !important;
    padding: 4px 0 !important;
    /* border: 1px solid #000 !important; */
}