<div class="row">
  <div class="col-12" style="z-index: 10000">
    <mat-toolbar class="cst-btn-toolbar">
      <span><a class="cst-navigation-color" clickGoBack ><mat-icon>keyboard_backspace</mat-icon></a></span>
      <span class="cst-title-form">Insert New Article</span>
    </mat-toolbar>
  </div>
  <div class="col-12 p-4" style="background-color: white">
    <div class="row">
      <div class="form-group col-12">
        <label class="col-form-label" for="TitleInput">Title</label>
        <input type="text"  [(ngModel)]="newPost.title" class="form-control" id="TitleInput" placeholder="Title">
      </div>

      <div class="form-group col-12">
        <label class="col-form-label" for="Category">Category</label>
          <input (blur)="leaveAutocomplete()" [(ngModel)]="newPost.category" type="text" class="form-control" aria-label="Number" id="Category" [formControl]="myControl" [matAutocomplete]="auto" placeholder="Category">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let state of filtered | async" [value]="state">
              {{ state }}
            </mat-option>
          </mat-autocomplete>
      </div>
      <div class="alert alert-info col-12" *ngIf="message != ''">{{message}}</div>
      <div class="form-group col-12">
        <label class="col-form-label" for="PublishedAt">Published At</label>
        <input type="date" [min]="getDate()"  [(ngModel)]="newPost.published_at" class="form-control" id="PublishedAt" placeholder="Title">
      </div>
      <form [formGroup]="form" class="form-group  col-12">
        <quill-editor #editor [style]="{height: '200px'}"
                      (onEditorCreated)="setFocus($event)"
                      (onContentChanged)="contentChanged($event)"
                      [style.display]="hide ? 'none' : 'block'"
                      formControlName="editor"
        ></quill-editor>
        <div class="form-group mx-auto">
          <button class="btn btn-primary btn-lg m-3" (click)="submit()">Insert</button>
          <button class="btn btn-danger btn-lg m-3" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>