<div class="cst-nav-toolbar" style="z-index: 10000">
  <mat-toolbar class="cst-btn-toolbar">
    <span><a class="cst-navigation-color" clickGoBack ><mat-icon>keyboard_backspace</mat-icon></a></span>
    <span class="cst-title-form">Article Editing</span>
  </mat-toolbar>
</div>
<div class="cst-display-content" style="margin-top: 5px; background-color: white">
  <!--{{current_post.content}}-->
  <!--<quill-editor [style]="{height: '200px'}" (onEditorCreated)="setFocus($event)">-->
    <!--<div quill-editor-toolbar>-->
      <!--<span class="ql-formats">-->
        <!--<button type="button" class="ql-bold"></button>-->
        <!--<button type="button" class="ql-italic"></button>-->
        <!--<button type="button" class="ql-underline"></button>-->
        <!--<button type="button" class="ql-strike"></button>-->
      <!--</span>-->
    <!--</div>-->
  <!--</quill-editor>-->
  <mat-form-field class="title">
    <input matInput [(ngModel)]="current_post.title" placeholder="Title" name="title_article">
  </mat-form-field>
  <mat-form-field class="title">
    <input matInput [(ngModel)]="current_post.category" placeholder="Category" name="cactegory_article">
  </mat-form-field>
  <form [formGroup]="form">
    <quill-editor #editor [style]="{height: '200px'}"
                  (onEditorCreated)="setFocus($event)"
                  (onContentChanged)="contentChanged($event)"
                  [style.display]="hide ? 'none' : 'block'"
                  formControlName="editor"
    ></quill-editor>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="click()">Save</button>
  </form>

</div>
