<div class="cst-nav-toolbar" style="z-index: 10000">
  <mat-toolbar class="cst-btn-toolbar">
    <span><a class="cst-navigation-color" clickGoBack ><mat-icon>keyboard_backspace</mat-icon></a></span>
    <span class="cst-title-form">Article Editing</span>
  </mat-toolbar>
</div>
<div class="cst-display-content" style="background-color: white">
  <div class="col-12" style="background-color: white">
    <!--<div class="row">-->
      <!--title-->
      <div class="form-group col-12">
        <label class="col-form-label" for="TitleInput">Title</label>
        <input type="text"  [(ngModel)]="current_post.title" class="form-control" id="TitleInput" placeholder="Title">
      </div>
    <!--</div>-->
    <div class="form-group col-12">
      <label class="col-form-label" for="Category">Category</label>
      <!--{{options}}-->
      <input [(ngModel)]="current_post.category.name"
             type="text" class="form-control"
             aria-label="Number" id="Category"
             [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let state of filtered | async" [value]="state">
          {{ state }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <!--Current Published date : {{current_post.published_at | date: 'yyyy-MM-dd'}}-->
  <!--<div class="form-group col-12">-->
    <!--<label class="col-form-label" for="PublishedAt">Published At</label>-->
    <!--<input type="date" [(ngModel)]="tempDate" class="form-control" id="PublishedAt">-->
  <!--</div>-->
  <form [formGroup]="form" class="form-group  col-12">
    <quill-editor #editor [style]="{height: '200px'}"
                  (onEditorCreated)="setFocus($event)"
                  (onContentChanged)="contentChanged($event)"
                  [style.display]="hide ? 'none' : 'block'"
                  formControlName="editor"
    ></quill-editor>
    <div class="form-group mx-auto">
      <button class="btn btn-primary btn-lg m-3" (click)="click()">Save</button>
      <button class="btn btn-danger btn-lg m-3" (click)="cancel()">Cancel</button>
    </div>
  </form>

</div>
