mat-toolbar-row {
    justify-content: space-between;
}
mat-card{
    margin-top: 35px;
}
mat-card-title.mat-card-title a{color:#fea142;}
.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title {
    display: block;
    margin-bottom: 0;
}
mat-card-title.mat-card-title {
    display: block;
    text-align: left;
    font-size: 11pt;
    text-transform: uppercase;
    color: #fea142;
    font-weight: 500;
    margin-bottom:0;
}
mat-card-content.mat-card-content {
    text-align: left;
}
mat-card-content.mat-card-content:after{
    content:"";
    display:block;
    position:relative;
    clear:both;
}
mat-card-actions.mat-card-actions button {font-size: 11pt !important;}
mat-card-actions.mat-card-actions *{
    width: 20px !important;
    display: block;
    height: 20px !important;
    float: left;
    line-height: 0.3;
    min-width: auto;
    padding: 0 !important;
    margin: 0 !important;
    background: #fff !important;
    color:#000;
    border-radius:50%;
}
mat-card-actions.mat-card-actions:after {
    content: "";
    display: block;
    clear: both;
    position: relative;
}
.mat-card-actions .mat-icon {
    width: 20px;
    height: 20px;
    line-height: 21px;
    font-size: 17px;
}