<div class="cst-nav-toolbar" style="z-index: 10000">
  <mat-toolbar class="cst-btn-toolbar">
    <span><a class="cst-navigation-color" clickGoBack ><mat-icon>keyboard_backspace</mat-icon></a></span>
    <span class="cst-title-form">{{currentPost.title}}</span>
  </mat-toolbar>
</div>
<div class="cst-display-content">
  <mat-card >
    <mat-card-header>
      <mat-card-title>
        <h2>{{currentPost.title}}</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <a routerLink="/date/{{currentPost.created_at}}">{{currentPost.created_at}}</a>{{', '}}
        <a routerLink="/category/{{ !currentPost.category.name ? currentPost.category : currentPost.category.name}}">
          {{ !currentPost.category.name ? currentPost.category : currentPost.category.name}}
        </a>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [innerHTML]="currentPost.content">
      <!--<p >-->
        <!--&lt;!&ndash;{{}}&ndash;&gt;-->
      <!--</p>-->
    </mat-card-content>
  </mat-card>
</div>

